<%= form_for(raider) do |f| %>
  <% if raider.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(raider.errors.count, "error") %> prohibited this raider from being saved:</h2>

      <ul>
      <% raider.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :class %>
    <%= f.text_field :class %>
  </div>

  <div class="field">
    <%= f.label :role %>
    <%= f.text_field :role %>
  </div>

  <div class="field">
    <%= f.label :battletag %>
    <%= f.text_field :battletag %>
  </div>

  <div class="field">
    <%= f.label :rank %>
    <%= f.text_field :rank %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
